.btn-group a:first-child button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group a:last-child button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}